<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="text-center">
                    <h2>LOCATION</h2>
                <P>2215 John Daniel Drive</P>
                <P>Clark, MO 65243</P>
                </div>
            </div>
            <div class="col-md-4">
                
                <div class="text-center">
                    <h2>AROUND THE WEB</h2>
                <div class="icons py-4 ">
                    <span class="border border-white py-2 rounded-circle mx-2"><i class="fa-brands fa-facebook mx-3"></i></span>
                    <span class="border border-white py-2 rounded-circle mx-2"><i class="fa-brands fa-twitter mx-3"></i></span>
                    <span class="border border-white py-2 rounded-circle mx-2"><i class="fa-brands fa-linkedin mx-3"></i></span>
                    <span class="border border-white py-2 rounded-circle mx-2"><i class="fa-solid fa-globe mx-3"></i></span>
                </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="text-center">
                <h2>ABOUT FREELANCER</h2>
              <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>  
              </div>
            </div>
        </div>
    </div>
</section>
<div class="">
    <div class="footer text-center text-white py-2">
        <p>Copyright © Your Website 2021</p>
    </div>
</div>
